:root{
    --bg-color: white;
    --text-color: white;
    --main-color: black;
    --white-color : black;
    --shadow-color: rgba(0, 0, 0, .2);
}
.testimonial-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}
.testimonial-container .testimonial-wrapper{
    position: relative;
    max-width: 80rem;
    width: 100%;
    padding: 4rem;
}
.testimonial-wrapper .testimonial-box{
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}
.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev{
    color: var(--main-color);
    z-index: 0;
}
.testimonial-box .swiper-button-next{
    right: 0;
}

.testimonial-box .swiper-button-prev{
    left: 0;
}

.testimonial-box .swiper-pagination-bullet{
    background: rgba(0, 0, 0, .8);
}

.testimonial-box .swiper-pagination-bullet-active{
    background: var(--main-color);

}
.testimonial-content .testimonial-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--white-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
}
.testimonial-slide img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
}
.testimonial-slide h3{
    font-size: 2.5rem;
    margin: 2rem 0;
    color: var(--white-color);
}

.testimonial-slide p{
    font-size: 1.4rem;
    text-align: center;
    color: var(--white-color);
}
.heading{
    font-size: 4.5rem;
    text-align: center;
}
.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev{
    color: var(--main-color);
}
.testimonial-box .swiper-button-next{
    right: 0;
}

.testimonial-box .swiper-button-prev{
    left: 0;
}
.testimonial-box .swiper-pagination-bullet{
    background: var(--white-color);
}
.testimonial-box .swiper-pagination-bullet-active{
    background: var(--main-color)
}

span{
    color: var(--main-color);
}

/* resposive */
@media (max-width:768px) {
    .testimonial-container .testimonial-wrapper {
        padding: 5rem 0;
    }
    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev{
        display: none;
    }
    .testimonial-content .testimonial-slide{
        padding: 3rem 2rem;
    }
    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev{
        display: none;
    }

}
@media (max-width:450px) {
    .testimonial-container{
        padding: 6rem;    
    }
    .testimonial-slide img{
        width: 9rem;
        height: 9rem;
    }
    .testimonial-container .testimonial-wrapper{
        position: relative;
        width: 180%;
    }
}

@media (max-width: 300px) {
    .testimonial-container{
        padding: 4rem;    
    }
    .testimonial-slide img{
        width: 8rem;
        height: 8rem;
    }
    .testimonial-container .testimonial-wrapper{
        position: relative;
        width: 200%;
    }
}