/* RESPONSIVE ALL APP */
@media (max-width: 1400px) {
    /* Main content responsive */
    .nha_que{
        margin-top: -120px;
    }
    .hoi_anh_em{
        margin-top: -150px;
    }
    .comic-button{
        margin-top: -190px;
    }
}
@media (max-width: 1200px) {
    /* Main content responsive */
    .nha_que{
        margin-top: -170px;
    }
    .hoi_anh_em{
        margin-top: -200px;
    }
    .comic-button{
        margin-top: -270px;
    }
    .family >p{
        font-size: 60px;
    }
}
@media (max-width: 992px) {
    /* Main content responsive */
    .nha_que > p{
        font-size: 70px;
    }
    .hoi_anh_em{
        margin-top: -200px;
    }
    .comic-button{
        margin-top: -350px;
    }
}
@media (max-width: 768px) {
    /* Main content responsive */
    .nha_que > p{
        font-size: 45px;
    }
    .nha_que{
        margin-top: -240px;
    }
    .hoi_anh_em{
        margin-top: -290px;
    }
    .hoi_anh_em > p {
        font-size: 20px;
    }
    .comic-button{
        margin-top: -490px;
    }
    .family >p{
        font-size: 45px;
        margin-top: -70px;
    }
}
@media (max-width: 576px) {
    /* Main content responsive */
    .nha_que > p{
        font-size: 35px;
    }
    .nha_que{
        margin-top: -290px;
    }
    .hoi_anh_em{
        margin-top: -350px;
    }
    .comic-button{
        margin-top: -650px;
    }
    .family >p{
        font-size: 35px;
    }
}