@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body,
html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14.5px;
}
:root{
    --white:#fcf2fa;
    --puple:#912a7eaa;
    --shadow: 0 5px 10px 5px rgba(0,0,0,.3);
    --nav-color: linear-gradient(to right, rgba(178,47,147,.6)5%,rgba(35,6,34,.9));
}
.button {
    display: none;
    align-items: center;
    appearance: none;
    background-color: #EEF2FF;
    border-radius: 8px;
    border-width: 2px;
    border-color: #536DFE;
    box-shadow: rgba(83, 109, 254, 0.2) 0 2px 4px, rgba(83, 109, 254, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #536DFE;
    cursor: pointer;
    /* display: inline-flex; */
    font-family: "JetBrains Mono", monospace;
    height: 30px;
    justify-content: center;
    line-height: 1;
    top: 20px;
    list-style: none;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 12px;
  }
  
  .button:focus {
    outline: none;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(83, 109, 254, 0.4) 0 2px 4px, rgba(83, 109, 254, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button:hover {
    box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px, rgba(83, 109, 254, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

.checkbtn{
    line-height: 35px;
    font-size: 20px;
    float: right;
    cursor: pointer;
    display: none;
}
.checkbtn span{
    color: black;
}
#check{
    display: none;
}
.tooltip.fade {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.tooltip.fade.show {
    opacity: 1;
}

.nav-item:hover .nav{
    cursor: pointer;
    color: red;
}

.dropdown-menu > div > li > button:hover{
    background-color: rgb(34, 240, 237);
    border-radius: 50px;
    width: 120px;
}
.dropdown-menu > div > li >button {
    padding: 7px;
    margin-left:20%;
} 
.dropdown-menu{
    animation: showLocate .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


@keyframes showLocate {
    from{
        top:0;
        opacity: 0;
    }
    to{
        top:100;
        opacity: 1;
    }
}

/* RESPONSIVE ALL APP */
@media (max-width: 1400px) {
    /* Main content responsive */
    .nha_que{
        margin-top: -120px;
    }
    .hoi_anh_em{
        margin-top: -150px;
    }
    .comic-button{
        margin-top: -190px;
    }
}
@media (max-width: 1380px) {
    /* .nav-link span{
        font-size: 12px;
    } */
}
@media (max-width: 1310px) {
    .nav-link span{
        font-size: 13px;
        margin-top: 3px;
    }
}
@media (max-width: 1290px) {
    .nav-link span{
        font-size: 12px;
    }
}
@media (max-width: 1200px) {
    /* Main content responsive */
    .nha_que{
        margin-top: -170px;
    }
    .hoi_anh_em{
        margin-top: -200px;
    }
    .comic-button{
        margin-top: -270px;
    }
    .family >p{
        font-size: 60px;
    }
}

@media (max-width: 992px) {
    /* Main content responsive */
    .nha_que > p{
        font-size: 70px;
    }
    .hoi_anh_em{
        margin-top: -200px;
    }
    .comic-button{
        margin-top: -350px;
    }
    /* .container{
        background-color: cyan;
        float: left;
        margin-right: 200px;
    } */
   .offcanvas{
    background-color: rgba(0,0,0,.2);
    width: 200px !important;
   }
   .nav{
    color: white !important;
    font-size: 16px !important;
    text-align: center !important;

   }
   .icon{
    display: none;
   }
   .button{
    display: block;
   }
}
@media (max-width: 785px) {
    .logo{
        display: none;
    }
    .logo_nhaque{

        margin-top: 12px;
    }
}
@media (max-width: 768px) {
    /* Main content responsive */
    .nha_que > p{
        font-size: 45px;
    }
    .nha_que{
        margin-top: -240px;
    }
    .hoi_anh_em{
        margin-top: -290px;
    }
    .hoi_anh_em > p {
        font-size: 20px;
    }
    .comic-button{
        margin-top: -490px;
    }
    .family >p{
        font-size: 45px;
        margin-top: -70px;
    }
}
@media (max-width: 576px) {
    /* Main content responsive */
    .nha_que > p{
        font-size: 35px;
    }
    .nha_que{
        margin-top: -290px;
    }
    .hoi_anh_em{
        margin-top: -350px;
    }
    .comic-button{
        margin-top: -650px;
    }
    .family >p{
        font-size: 35px;
    }
    .logo{
        display: none;
    }
    .logo_nhaque{
        margin-top: 15px;
    }
}
.offcanvas-header{
    background-color: #7F7F7F;
    height: 55px;
}
@media (max-width: 565px) {
    .offcanvas-header{
        height: 50px;
        /* background-color: red; */
    }
}
@media (max-width: 445px) {
    .offcanvas{
        width: 220px !important;
        margin-right: -20px;
    }
    .offcanvas-header{
        padding-right: 50px;
    }
   /* .village{
    width: 29rem;
   } */
}
@media (max-width:430px) {
    .offcanvas{
        width: 220px !important;
        margin-right: -25px;
    }
    .offcanvas-header{
        padding-right: 50px;
    }
   /* .village{
    width: 28.2rem;
   } */
}
/* Iphone 12 pro max */
@media (max-width:421px) {
    .village{
        width: 30.2rem;
        margin-left: -11px;
    }
    .nha_que >p{
        margin-left: 10px;
    }
    .hoi_anh_em > p{
        width: 18rem;
        margin-left: 20px;
    }
    .video .comic-button{
        margin-left: 10px;
    }
    .family{
        margin-left: 10px;
    }
}
/* Iphone 12pro */
@media (max-width:391px) {
    .village{
        width: 29.2rem;
        margin-left: -11px;
    }
      .nha_que >p{
        margin-right: -45px;
        text-align: center;
        
      }
      .hoi_anh_em >p{
        width: 18rem;
        margin-right: -40px;
        text-align: center;
      }
      .video > .comic-button{
        margin-left: 30px;
        font-size: 18px;
      }
      .my_family{
        height: 100rem;

      }
      .family > p{
        margin-left: 25px;
      }
      .heading{
        
        width: 15rem;
      }
.cards{
    padding-right: -15px;
}
       .offcanvas{
       /* background-color: cyan; */
       /* margin-right: -150px; */
    }
}
.show_toastmess{
    display: none;
}
@media (max-width:385px) {
    .village{
        width: 30.2rem;
        margin-left: -11px;
    }
    .nha_que >p{
        margin-left: 10px;
    }
    .hoi_anh_em > p{
        width: 18rem;
        margin-left: 6rem;
    }
    .video .comic-button{
        margin-left: 25px;
    }
    .family{
        margin-left: 10px;
    }
}
/* Galaxy note 2 */
@media (max-width:361px) {
    .nha_que >p{
        margin-left: 20px;
    }
    .hoi_anh_em > p{
        width: 18rem;
        margin-left: 5.5rem;
    }
    .video .comic-button{
        margin-left: 35px;
    }
    .family{
        margin-left: 10px;
    }
    #galaxy_note_2{
        margin-left: 2.1rem;
    }
    .footerweb{
        width: 28.7rem;
    }
    .sinh_vien{
        width: 18rem;
    }
}
/* Iphone SE */
@media (max-width:376px) {
    /* .offcanvas{
        width: 220px !important;
        margin-right: -20px;
    }
    .offcanvas-header{
        padding-right: 50px;
    }
   .village{
    width: 24.3rem;
   }
   .navbar-toggler{
    margin-right: 40px;
   } */
}