@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Signika:wght@300..700&display=swap');
.nha_que{
    font-family: "Signika", sans-serif;
        font-weight: 900;
        font-size: 85px;
        width: 100%;       
}
.nha_que > p{
    filter: drop-shadow(12px 12px 5px rgb(134, 134, 134));
    display: inline-block;
}
.comic-button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  