@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Signika:wght@300..700&display=swap');
.nha_que{
    font-family: "Signika", sans-serif;
        font-weight: 900;
        font-size: 85px;
        width: 100%;       
}
.nha_que > p{
    filter: drop-shadow(12px 12px 5px rgb(134, 134, 134));
    display: inline-block;
}
.comic-button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  @media (max-width: 1400px) {
    .video > img{
      object-fit: cover;
      height: 60rem;
      background-size: cover; /* Ảnh bao phủ toàn bộ background */
      background-position: center; /* Ảnh ở vị trí trung tâm */
    }
    .nha_que,.hoi_anh_em,.comic-button{
      margin: 0 auto;
    }
  }
  @media (max-width: 992px) {
    .comic-button{
      margin-top: 0%;
    }
  }
  @media (max-width: 821px) {
    .video > img{
      object-fit: cover;
      height: 75rem;
      background-size: cover; /* Ảnh bao phủ toàn bộ background */
      background-position: center; /* Ảnh ở vị trí trung tâm */
    }
    .my_family{
      height: 50rem;
    }
  }
  @media (max-width: 769px) {
    .comic-button{
      /* margin-top: -50%; */
     
    }
    .hoi_anh_em,.comic-button{
      /* margin: 0 auto; */
      margin-top: -6%;
    }
  }
  @media (max-width: 576px) {
    .comic-button{
      /* margin-top: -70%; */
      font-size: 20px;
    }
    .my_family{
      height: 100rem;
    }
  }
  @media (max-width: 512px) {
    .comic-button{
      /* margin-top: -80%; */
    }
  }
  @media (max-width: 470px) {
    .comic-button{
      /* margin-top: -90%; */
      font-size: 16px;
    }
  }
  @media (max-width:435px) {
    .comic-button{
      /* margin-top: -97%; */
      font-size: 15px;
    }
    .hoi_anh_em,.comic-button{
      /* margin: 0 auto; */
      margin-top: -10%;
    }
  }
  @media (max-width:391px) {
    .comic-button{
      /* margin-top: -110%; */
      font-size: 14px;
    }
  }
@media (max-width:385px) {
  .video > img{
    object-fit: cover;
    height: 50rem;
    background-size: cover; /* Ảnh bao phủ toàn bộ background */
    background-position: center; /* Ảnh ở vị trí trung tâm */
  }
  .nha_que,.hoi_anh_em,.comic-button{
    margin: 0 auto;
  }
  .nha_que{
    font-size: 20px;
  }
  .hoi_anh_em{
    text-align: center;
    width: 100%;
    margin-top: -25%;
  }
  .comic-button{
    margin-top: -40%;
  }
}
